<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<Application
			Name="TestValidationWin"
			FileName="[ConfigPath]\..\..\TestValidation.Win\Bin\EasyTest\TestValidation.Win.exe"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WinAdapter.v15.1, Version=15.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
			CommunicationPort="4100"/>
		<Application
			Name="TestValidationWinNoWindowsFormsValidationModule"
			FileName="[ConfigPath]\..\..\TestValidation.Win.NoWindowsFormsValidationModule\Bin\EasyTest\TestValidation.Win.exe"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WinAdapter.v15.1, Version=15.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="TestValidationWeb"
			Url="http://localhost:4030"
			PhysicalPath="[ConfigPath]\..\..\TestValidation.Web"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WebAdapter.v15.1, Version=15.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
		<!-- For IIS -->
		<!--Application
			Name="TestValidationWeb"
			Url="http://localhost/TestValidation.Web/Default.aspx"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WebAdapter.v15.1, Version=15.1.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/-->
	</Applications>
</Options>